@import 'fonts';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: cornflowerblue;
}

.twitter-logo {
  width: 200px;
  height: 200px;
  background: url('../images/icons.svg#add') no-repeat;
  background-size: contain;

  &::after {
    float: right;
    width: 16px;
    height: 10px;
    content: "";
    background: url('#add');
  }
}
