extends ../layouts/main

block head_end

block content
  .page__container
    include ../components/header
    //- img.page__logo(src="/assets/img/lyrn.svg" alt=header)
    //- h1.page__header= header
    h1.page__header Index

block body_end