@import 'fonts';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: cornflowerblue;
}

.access-alarms {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 110, 255);
  -webkit-mask-image: url('../svg/access_alarms.svg');
  mask-image: url('../svg/access_alarms.svg');
}
