extends templates/layouts/main

block head_end

block content
  .page__container
    include templates/components/header
    //- img.page__logo(src="/assets/img/lyrn.svg" alt=header)
    //- h1.page__header= header

block body_end